#cont_img{
    width: 100%;
   /* width: 430px;
    */
    height: 290px;
}
#perfil{
    width: 100%;
    height: 100%;
    border-radius: 50px 0px 0px 0px;
}
#header{
    display: flex;
    flex-direction:row; 
    margin: 30px;
    font-size: 1em;
}
#desc{
    border: 1px solid black;
    margin-left: 5px;
    box-shadow: 10px 5px 5px #9E9E9E;
    padding: 8px;
}

.name{
    color: orange;
}
.email{
    color: orange;
    cursor: pointer;
}
.txt_red{
    color: red;
}
ul{
    list-style-type: none;
}
.item{
    display: flex;
}
.item p{
    margin: 0px;
}
.item2 p{
    padding-left: 10px;
}

/*Estile de index*/

#body{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap !important;
    padding: 0px;
    padding-left: 2%;
    /*margin-left: 15%;
    margin-right: 15%;*/

}
.card{
    height: 170px;
    width: 20%;
    border: 1px solid transparent;
    background-color: #80808017;
    padding: 1%;
    margin: 1%;
    box-shadow: 1px 2px 2px #9E9E9E;
    color: #5fb5f5;
}
li img{
    width: 50%;
    height: 80%;
    padding-left: 20%;
}
.card p{
    margin: 0px;
    text-align: center;
}
.head{
    padding: 0px;
    margin: 0px;
}
.header{
    background-color: #5fb5f5 ;
    color: white;
    border: 1px solid white;
    /*padding: 0.5%;*/
    width: 33%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
.header span{
    font-size: 10px;
}
#name{
    font-size: 10px;
}
button{
    color: #5fb5f5;
}
input, button{
    border: transparent;
}
footer{    
    /*margin-left: 15%;
    margin-right: 20%;
    */
    background: #5fb5f5;
    padding-top: 1%;
    padding-bottom: 2%;
    text-align: center;
}

.card:hover{
    padding-left: 0px;
    width: 25%;
    margin-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    background-color: #99c5dd;
    rotate: 8deg;
}

.input{
    width: 50%;
}


@media (min-width: 320px) and (max-width: 480px) {
    /*body {
        background-color: #de3163;
    }*/
    #cont_img {
        width: 800px;
        height: 110px;
    }
    #perfil{
        background-image: url("./img/25129892Pequena.jpg");
        background-repeat: no-repeat; 
        background-size: cover;
        
    }
}
    
@media (min-width: 481px) and (max-width: 768px) {
    /*body {
        background-color: #6a9dab;
    }*/
    #cont_img {
        width: 800px;
        height: 190px;
    }
    
    #perfil{
        background-image: url("./img/25129892Pequena.jpg");
        background-repeat: no-repeat; 
        background-size: cover;
        
    }
}
    
@media (min-width: 769px) and (max-width: 1024px) {
    /*body {
        background-color: #269c4e;
    }*/
   /* #header{
        width: 100%;
    }*/
    
    #perfil{
        background-image: url("./img/25129892Grande.jpg");
        background-repeat: no-repeat; 
        background-size: cover;
        
    }
    /*#cont_img {
        width: 20%;
        height: 320px;
    }*/
   /* #desc{
        width: 70%;
    }*/
}
@media (min-width: 1025px) and (max-width: 1200px) {
    /*body {
        background-color: #8914bf;
    }*/
    
    #perfil{
        background-image: url("./img/25129892Grande.jpg");
        background-repeat: no-repeat; 
        background-size: cover;
        
    }
    /*
    #cont_img {
        width: 490px;
        height: 310px;
    }*/
}
    
@media (min-width: 1201px)  {
    /*body {
        background-color: #a287af;
    }*/
    #cont_img {
        width: 60%;
    }
    
    #perfil{
        background-image: url("./img/25129892.jpg");
        background-repeat: no-repeat; 
        background-size: cover;
        
    }
    
}
